<launch>
    <!-- 真机控制 - 启动 PiPER 控制节点 -->
    <include file="$(find piper)/launch/start_single_piper.launch" />

    <!-- Gemini335L 相机 -->
    <include file="$(find piper_camera)/launch/piper_camera.launch" />

    <!-- 硬件节点 -->
    <include file="$(find piper_with_gripper_moveit)/launch/demo.launch" />

    <!-- PiPER 感知 -->
    <include file="$(find piper_perception)/launch/piper_perception.launch" />

    <!-- 接口节点 -->
    <node pkg="piper_interface" type="piper_start" name="piper_start" output="screen">
        <rosparam command="load" file="$(find piper_interface)/config/config.yaml" />
    </node>
</launch>